html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(8, 5, 24);
    color: rgb(232, 232, 247);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    margin: auto;
}

li {
    list-style: none;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: inherit;
    color: inherit;
}

nav.navbar {
    position: sticky;
    top: 1px;
}

.div_header {
    display: inline-block;
    position: relative;
    top: 40%;
    left: 40%;
}

.header-section > nav {
    width: 100%;
    z-index: 20;
    top: 0;
}

#home {
    margin-top: 100px;
}

.title-hr {
    width: 25%;
    margin-bottom: 2em;
}

.div_header_content{
    margin: 0 auto;
    display: inline-block;
    text-align: center;
} 
.pfp {
    width: 30%;
    height: 0px auto;
    border-radius: 50%;
}
.banner {
    width: 100%;
    height: auto;
    position: absolute;;
    border-radius: 0 0 4% 4%;
    z-index: -10;
    background-attachment: fixed;
}
.banner-card {
    background: transparent;
}
.card {
    color: rgb(232, 232, 247);
    --bs-card-spacer-y: 0;
    --bs-card-spacer-x: 0;
    --bs-card-bg: rgb(8, 5, 24);
}
.list-redes {
    border: none !important;
}

.profile-container {
    background-color: rgb(14, 4, 4, 0.5);
    padding-top: 10%;
    padding-bottom: 18%;
    width: 100%;
}

.ap_img {
    max-width: 10px;
}

.aboutme, .abilities, .projects {
    width: 90%;
    margin-left: 5%;
}

#aboutme, #abilities, #projects {
    padding-top: 5%;
}

.list-group {
    --bs-list-group-bg: rgba(6, 14, 29, 0.425);
    --bs-list-group-border-color: rgba(204, 221, 215, 0.521);
    --bs-list-group-color:rgb(232, 232, 247);
    border-radius: 3%;
    border: 3px rgba(204, 221, 215, 0.521) solid
}

.table {
    --bs-table-color: rgb(232, 232, 247);
}

.navbar-toggler {
    color: rgb(232, 232, 247);
}

.progress {
    margin-top: 5%;
    margin-bottom: 5%;
}

.front-end > .progress-bar {
    background-color: rgba(231, 22, 186, 0.86);
}

.back-end > .progress-bar {
    background-color: rgb(0, 255, 76, 0.86);
}

.soft-skills > .progress-bar {
    background-color: rgb(6, 10, 230, 0.86);
}

.projects .card {
    margin: auto;
}

.aboutme .vr {
    height: 100%;
    width: 17%;
    background-color: rgba(231, 22, 186);
}

.aboutme .list-group {
    border: none;
}

.ab-title {
    display: inline-block;
}

.modal-btn-edit, .modal-btn-elmnt, .modal-btn-add {
    background: none;
    border: none;
    margin-bottom: 1%;
}

.modal-btn-login {
    background: none;
    --bs-btn-hover-bg: #none;
    --bs-btn-active-bg: #none;
    --bs-btn-border-color: none;
    --bs-btn-hover-border-color: #none;
    --bs-btn-active-border-color: #none;
}

.modal-btn-add {
    color: rgb(235, 231, 46);
    --bs-btn-active-bg: rgb(235, 231, 46);
    --bs-btn-hover-bg: rgba(235, 232, 46, 0.733);
}

.modal-btn-elmnt {
    color: rgb(209, 14, 14);
    --bs-btn-active-bg: rgb(209, 14, 14);
    --bs-btn-hover-bg: rgb(209, 14, 14);
}

.modal-btn-edit {
    color: rgb(6, 194, 22);
    --bs-btn-active-bg: rgb(6, 194, 22);
    --bs-btn-hover-bg: rgb(6, 194, 22);
}

.profile-container > .modal-btn-edit {
    color: rgb(6, 194, 22);
    --bs-btn-active-bg: none;
    --bs-btn-hover-bg: none;
}

.profile-container > .modal-btn-edit:hover {
    color: rgb(232, 232, 247);
}

.modal-content {
    background-color: rgba(11, 12, 10, 0.829);
    color: rgb(241, 233, 233);
    border: 2px solid rgb(218, 25, 208);
}

@media only screen and (max-width: 500px)  {
    .profile-container {
        padding-bottom: 5%;
    }
    .abilities .col-sm-4 {
        margin-top: 20px;
    }
    .profile-container {
        padding-top: 5%;
    }
}